<button name="button" type="button" onclick="window.location.href='http://127.0.0.1:8000/home' ">home</button>
<button name="button" type="button" onclick="window.location.href='http://127.0.0.1:8000/about' ">about us</button>
<button name="button" type="button" onclick="window.location.href='http://127.0.0.1:8000/contact' ">contact</button>
<button name="button" type="button" onclick="window.location.href='http://127.0.0.1:8000/branch' ">branch</button>
<button name="button" type="button" onclick="window.location.href='http://127.0.0.1:8000/form' ">Registration</button>  
<button name="button" type="button" onclick="window.location.href='http://127.0.0.1:8000/ai' ">AI</button>  

<h1>About</h1>

<head>
    <body style="background-color:powderblue;">
        <img src="./a1.jpeg" alt="front_image" width="228" height="228"/>


    </body>
</head>